@font-face {
    font-family: "Raleway";
    src: url(../font/raleway-regular.ttf)
}

@import 'custom-variables';
@import 'custom-bootstrap.scss';

* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
}

body {
    background: linear-gradient(142deg, rgba(16, 22, 48, 1) 0%, rgba(52, 19, 170, 1) 94%);
    background-attachment: scroll;
    font-family: $body-font;
    font-size: 16px;
    overflow-x: hidden;
    color: $white;
}

a {
    text-decoration: none;
    font-size: 18px;
}

a.link:hover {
    text-decoration: line-through !important;
    font-weight: bold;
    color: $primary !important;
}

section {
    padding: 96px 0px;
}

#landing {
    width: 100%;
    height: 100vh;
}

#landing .title {
    font-size: 60px;
}

.sub-text-primary {
    color: $primary;
}

ul {
    list-style-type: none;
}

.banner-p {
    width: 100%;
    max-width: 650px;
}

.navbar-bg {
    background-color: $sub-secondary;
}

.card {
	background-color: transparent;
	color: $white;
	border: 2px solid $white;
	transition: background-color 0.3s ease, border-color 0.3s ease; // Smooth transition for background and border color

	span.featured-proj {
			color: $primary; // Ensure $primary is defined in your SCSS variables
	}

	.card-body {
			padding-bottom: 0;
	}

	.icon {
			transition: stroke 0.3s ease; // Smooth transition for stroke color
	}

	&:hover {
			background-color: $sub-secondary; // Ensure $sub-secondary is defined in your SCSS variables
			border-color: $sub-secondary; // Change border color on hover
			margin-bottom: 20px; // Adjust margin-bottom if needed for the hover effect
			animation: moveUp 1s forwards; // Apply animation and ensure it persists

			.icon {
					stroke: $primary; // Change stroke color on hover
					stroke-width: 3; // Change stroke width on hover
			}
	}
}

@keyframes moveUp {
	0% {
			transform: translateY(0);
	}
	100% {
			transform: translateY(-10px); // Add px unit to move the card up
	}
}
.svg{
	stroke: $primary;
	stroke-width: 3;
}
.use-tools {
	display: flex;
	align-items: center;
	justify-content: start;
	flex-wrap: wrap;
	padding: 0;

	.tool-item {
		padding: 10px;
		border-radius: 50%;

		img{
			width: 20px;
			height: 20px;
		}
	}
}
.project-img {
	width: 80px;
	height: 80px;
	object-fit: cover;
}

@media screen and (max-width: 576px) {
    #landing {
        height: 400px;
        margin-top: 0px;
    }

    #landing .title {
        font-size: 28px;
    }

    section {
        padding: 40px 0px;
    }


}

@media screen and (max-width: 768px) {
    #landing .title {
        font-size: 36px;
    }

    section {
        padding: 45px 0px;
    }

}